@model IEnumerable<MvcMovie.Models.Movie>
@{
    ViewData["Title"] = "Index";
}

<h1>All Movies</h1>

<div class="row mb-3">
    <div class="col-md-6">
        <p>
            <a class="btn btn-primary" asp-action="Create">Create New</a>
        </p>
    </div>
    <div class="col-md-6">
        <form method="post" asp-action="Index" asp-controller="Movies" class="form-inline">
            <div class="input-group mb-2">
                <input type="text" name="Title" id="searchTitle" class="form-control" placeholder="Enter movie title..." />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary ml-10">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>



<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Release Date</th>
            <th scope="col">Genre</th>
            <th scope="col">Price</th>
            <th scope="col">Upvotes</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><b>@Html.DisplayFor(modelItem => item.Title)</b></td>
                <td>@Html.DisplayFor(modelItem => item.ReleaseDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Genre)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.Upvotes)</td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
